{% extends 'base.html' %}

{% block unique_content %}
  <h1>Welcome to the Pyrewood Village Recruitment Hub!<br>In this place,
    guilds can strengthen their ranks,
    and players can find their new home :)</h1>
  <p><br>Contact information about <a href="recruits">players</a> is only available to  <a href="/login">authorized</a> recruiters</p>
  <p>Information about <a href="guilds">guilds</a> and their <a href="teams">teams</a> is accessible to all users<br></p>
  <p> Currently:
     <ul>
      <li>{{ num_guilds }} guilds have registered their teams</li>
      <li>{{ num_teams }} teams are looking for players</li>
      <li>{{ num_recruits }} players are looking for a team</li>
    </ul>
  </p>
{% endblock unique_content %}