{% block nav %}

  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recruits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Guilds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://discord.com/invite/BvEKtzsubF" target="_blank">Discord</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
{% endblock nav %}