* {
    background-color: black;
}

.box::first-line
{
    color: purple;
}

.box::first-letter
{
    color: red;
}

.box::selection
{
    background-color: aqua;
}



.box::before,
.box::after
{
    height: 15px;
    display: block;
    content: "123";
    background-color: aqua;
}