.container :first-child
{
    border: 2px solid red;
    margin: 5px;
}

.container :.first_elem_of_class:first-of-type
{
    border: 2px solid red;
    margin: 5px;
}


.container :nth-child(-5n + 8)
{
    border: 2px solid red;
    margin: 5px;
}


.container :hover
{
    border: 2px solid red;
    margin: 5px;
}